body {
  font-family: "Alumni Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  margin: 0%;
}

h1{
    font-size: 50px;
}

.name-highlight {
  color: orange; /* Tomato color */
}

.intro {
  width: 40%;
  float: left;
  margin : 5%;
}
.intro img{
  width: 90%; 
}

.background {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
section{
  height: 500px;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  background-image: linear-gradient(to left, #ff7e5f, #feb47b); 
  color: white;
  text-decoration: none;
  border-radius: 5px;
}